/* Font Txt */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
/* Font Model */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%
}

body{
    background-color: rgb(240, 240, 240);
    font-family: var(--font-txt);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    --color1: #237CD5;
    --color2: #3971AA;
    --color3: #0080FF;
    --color4: #406080;
    --color5: #394755;
    --color6: #2B2F33;
    --font-txt: "Sedan", serif;
    --font-model: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Nav-bar Desktop */
#logo{
    height: 13rem;
    width: 13rem;
}

.background-nav{background-color: var(--color5);}

.items-menu{margin: 0 50px;}

.color-item{
    font-size: 1.7rem;
    margin: 0 15px;
    border-radius: 20px;
    transition: background-color 1s;
    text-transform: uppercase;
}

.color-item a{color: white;}

@media (min-width: 992px){
    .color-item{padding: 5px 15px;}

    .color-item:hover{background-color: var(--color6);}

    .color-item a:hover{color: white;}
}

/* Footer Desktop */
#footer{
    height: 20rem;
    background-color: var(--color5);
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 30px;
    padding-top: 20px;
    justify-items: center;
    align-items: center;
    font-size: 13px;
    margin-top: auto;
}

.footer-copyright{
    color: white;
}

.footer-map{
    border: 1px solid black;
    height: 18vh;
    width: 90%;
}

.footer-map iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

.footer-social-media{
    text-align: center;
    color: white;
}

ion-icon{
    font-size: 25px;
    margin: 10px;
    color: white;
    transition: color 0.5s;
}

ion-icon:hover{
    color: black;
}

/* Index Desktop */
#intro-index {
    text-align: left;
    margin: 10px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#intro-index-text {
    width: 60%;
    font-size: 16px;
    color: var(--color6);
    text-align: left;
    hyphens: auto;
}

.intro-text{
    white-space: pre-line;
}

#img-txt{
    height: 30%;
    width: 35%;
}

/* Products */
#products-intro{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

#products-intro h1{
    color: black;
    font-size: 5rem;
    text-align: center;
    white-space: pre-line;
}

#products-intro p{
    width: 75%;
    text-align: center;
    white-space: pre-line;
    font-weight: 400;
    font-size: 1.5rem;
}

#products-list{
    border-top: 2px solid black;
    margin: 10px 0;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    grid-template-areas: 
    "product-1 product-2 product-3"
    "product-4 product-5 product-6"
    ". product-7 .";
}

.product-1{grid-area: product-1;}
.product-2{grid-area: product-2;}
.product-3{grid-area: product-3;}
.product-4{grid-area: product-4;}
.product-5{grid-area: product-5;}
.product-6{grid-area: product-6;}
.product-7{grid-area: product-7;}

.model{
    text-align: left;
    border: 1px #2B2F33 solid;
    box-shadow: 2px 2px 2px 2px #2B2F33;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.model img{
    height: 15rem;
}

.model-info{
    font-family: var(--font-model);
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 13px;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.model-name{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.model-desc{
    font-weight: 500;
    margin-bottom: 1rem;
}

.model-price{
    align-self: center;
    margin: 0;
}

.buy-btn{
    width: 25%;
    align-self: center;
}

/* How To */
#intro-how{
    text-align: center;
    margin: 20px auto;
    width: 75%;
    align-self: center;
}

#intro-how h1{
    font-size: 3rem;
    text-decoration: underline black 2px;
}

#intro-how p{
    font-size: 1.5rem;
    text-align: center;
    white-space: pre-line;
}

#videos-how{
    margin: 0 auto 20px auto;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 25px;
}

.video-size{
    border: 2px solid black;
    height: 35rem;
    width: 100%;
    margin: 0 auto;
}

/* FAQs */
#intro-faqs{
    width: 60%;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "faq-h1 faq-img"
    "faq-p faq-img";
}

#intro-faqs h1{
    font-size: 3rem;
    font-weight: bold;
    grid-area: faq-h1;
    align-self: end;
}

#intro-faqs p{
    font-size: 13.5px;
    text-align: left;
    white-space: pre-line;
    grid-area: faq-p;
    align-self: start;
}

#intro-faqs img{
    grid-area: faq-img;
}

.content-faqs{
    width: 60%;
    margin: 0 auto;
    white-space: pre-line;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-width: 2px 2px 0 2px;
    border-color: black;
    border-style: dotted;
}

.question{
    text-decoration: underline;
    font-weight: bold;
}

.answer{
    font-style: italic;
}

/* Contact Us */
#container-mobile{
    display: none;
}

#container-desktop{
    width: 75%;
    margin: 70px auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.txt-form-desktop{
    width: 30%;
    text-align: left;
    white-space: pre-line;
    font-size: 13.5px;
}

.txt-form-desktop span{
    font-size: 3rem;
    font-weight: bold;
}

.contact-us-form{
    padding: 10px;
    box-shadow: 0px 0px 40px 0px rgb(71, 71, 71);
    border-radius: 10px;
    background-color: whitesmoke;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contact-us-form label{
    font-size: 16px;
}

.form-name{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    margin: 10px;
}

.form-info{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

textarea{
    resize: none;
}

.form-button{
    align-self: center;
    width: 20%;
}

.submit-btn{
    font-size: 14px;
    width: 100%;
}

@media (max-width: 767.98px){
    /* Nav-bar Mobile */
    .items-menu{margin: 0;}

    .color-item{
        font-size: 1.7rem;
        margin: 0;
        padding: 0;
        border-radius: 0;
        border-top: 1px solid white;
    }
    
    .color-item a{
        color: white;
        margin: 0 10px;
    }

    .btn-mobile{
        color: white;
        border: 1px solid white;
        margin: 0 15px;
    }
    
    .navbar{
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }

    /* Footer Mobile */
    #footer{
        height: auto;
        background-color: var(--color5);
        color: whitesmoke;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        justify-items: center;
        align-items: center;
        font-size: 13px;
        margin-top: auto;
    }

    .footer-map{
        border: 1px solid black;
        height: 18vh;
        width: 90%;
    }
    
    /* Index Mobile */
    #intro-index {
        text-align: center;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #intro-index-text {
        width: 90%;
        font-size: 16px;
        color: var(--color6);
        text-align: center;
        hyphens: auto;
    }

    #img-txt{
        height: auto;
        width: 100%;
    }
}