/* Nav-bar Desktop */
#logo{
    height: 13rem;
    width: 13rem;
}

.background-nav{background-color: var(--color5);}

.items-menu{margin: 0 50px;}

.color-item{
    font-size: 1.7rem;
    margin: 0 15px;
    border-radius: 20px;
    transition: background-color 1s;
    text-transform: uppercase;
    
    a{
        color: white;
    }
}



@media (min-width: 992px){
    .color-item{
        padding: 5px 15px;

        &:hover{
            background-color: var(--color6);
        }

        a:hover{
            color: white;
        }
    }
}